.footer__main {
  background: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
  gap: 30px;
}
.footer__main__desc {
  margin: 0;
  width: 230px;
  height: 24px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(245, 69, 228, 0.6);
}
.footer__main__logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  gap: 20px;
}
.footer__main__links {
  height: 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #fafafa;
  cursor: pointer;
}
.footer__main__links:hover {
  color: rgba(245, 69, 228, 0.6);
}
.footer__linkedin {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}
.footer__links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 100px;
  cursor: pointer;
}
.footer__title {
  width: 139px;
  height: 30px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #fafafa;
  margin: 0;
  cursor: pointer;
}
.footer__des {
  width: 354px;
  height: 42px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 151.02%;
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  color: rgba(250, 250, 250, 0.4);
}
.footer__link {
  width: 111px;
  height: 22px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  list-style: none;
  color: rgba(250, 250, 250, 0.8);
  cursor: pointer;
}
.footer__link:hover {
  color: rgba(245, 69, 228, 0.6);
}
.footer__developer {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  list-style: none;
  color: rgba(250, 250, 250, 0.8);
}
@media (max-width:425px) {
  .footer__links{
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
}