.footer {
  position: relative;
  width: 100%;
  top: -238px;
  height: 1%;
}
.footer__desc {
  position: absolute;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.8);
  width: 405px;
  height: 27px;
  top: 450px;
  left: 33%;
}
img.footer__trustedBy {
  position: relative;
  top: -150px;
  margin-left: 5%;
}
