.integration__title {
  width: 639px;
  height: 132px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 66px;
  color: #fafafa;
  margin: 0;
  margin-left:25px ;
}
