.integration__page {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: rgb(52, 47, 202);
  background: linear-gradient(
    90deg,
    rgba(52, 47, 202, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  gap: 30px;
}
@media (max-width: 425px) {
  .integration__page {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 425px !important;
    font-size: 34px;
  }
}
