.integration__title {
  width: 639px;
  height: 132px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 66px;
  color: #fafafa;
  margin: 0;
  margin-left: 25px;
  margin-top: 25%;
}
.integration__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.integration__desc {
  width: 558px;
  height: 108px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 151.02%;
  letter-spacing: 0.01em;
  color: rgba(250, 250, 250, 0.6);
  margin: 0;
  padding-left: 30px;
}
@media (max-width: 425px) {
  .integration__article {
    margin-top: -90px;
  }
  .integration__title {
    width: 410px;
    height: 100px;
    margin-left: 15px;
    font-size: 34px;
    line-height: 1.5;
  }
  .integration__desc {
    width: 410px;
    font-size: 14px;
    padding-left: 14px;
  }
}
