.circle {
  padding-top: 90px;
  padding-bottom: 90px;
  margin-left: 20px;
}
.nucleus {
  position: absolute;
  left: 165.86px;
  margin-top: 198.16px;
}
.int-icon {
  position: absolute;
}
.integration1 {
  margin-top: 19%;
  margin-left: -30%;
  transform: rotate(0deg) translate(150px);
  transition: transform 0.7s linear;
  animation: rotate 7s infinite linear;
}
.integration2 {
  margin-top: 19%;
  margin-left: -30%;
  transform: rotate(0deg) translate(150px);
  transition: transform 0.7s linear;
  animation: rotate 7s infinite linear;
  animation-delay: -3.6s;
}
.integration3,
.integration4,
.integration5 {
  margin-top: 19%;
  margin-left: -29%;
  transform: rotate(0deg) translate(150px);
  transition: transform 0.7s linear;
  animation: rotateBig 7s infinite linear;
}
.integration3 {
  animation-delay: -5s;
}
.integration4 {
  animation-delay: -10s;
}
.integration5 {
  animation-delay: -15s;
}
@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg) translate(50px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(360deg) translate(50px) rotate(-360deg);
  }
}

@keyframes rotateBig {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg) translate(200px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(360deg) translate(200px) rotate(-360deg);
  }
}
@media (max-width: 425px) {
  .circle {
    margin-left: 0px;
    width: 300px;
    height: 300px;
    padding-top: 210px;
  }
  .nucleus {
    left: 112.86px;
    margin-top: -15%;
  }
  .integration2,
  .integration1 {
    margin-top: -15%;
    margin-left: 0%;
  }
  .integration3,
  .integration4,
  .integration5 {
    margin-top: -15%;
    margin-left: 0%;
  }

  @keyframes rotateBig {
    from {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg) translate(150px) rotate(0deg);
    }
    to {
      -webkit-transform: rotate(359deg);
      transform: rotate(360deg) translate(150px) rotate(-360deg);
    }
  }
}
