.request__page {
  background: #161213;
  padding: 30px 0;
}
.request__title {
  padding-top: 72px;
  padding-left: 142px;
  margin: 0;
  width: 711px;
  height: 132px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 66px;
  color: #fafafa;
}
.requestEllipse {
  position: absolute;
  margin-top: -200px;
  margin-left: 92.6%;
}
.round__request {
  position: absolute;
  margin-top: -80px;
  margin-left: 110px;
}
.round {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  transition: all 1s;
  animation: dash 4s linear infinite;
}
@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
.line {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  transition: all 1s;
  animation: line 4s linear infinite;
}
@keyframes line {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
    fill: #ffe921;
  }
}
.line__request {
  position: absolute;
  margin-top: 20px;
  margin-left: 195px;
}
.arrow__request {
  position: absolute;
  margin-top: 100px;
  margin-left: 300px;
}
.arrow {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  transition: all 1s;
  animation: line 4s linear infinite;
}
@keyframes arrow {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
    fill: #ffe921;
  }
}
@media (max-width: 425px) {
  .request__title {
    padding-top: 24px;
    padding-left: 24px;
    width: 400px;
    height: 90px;
    font-size: 34px;
    line-height: 2;
  }
  .round__request {
    margin-top: 20px;
    margin-left: 0px;
  }
  .line__request {
    margin-top: 120px;
    margin-left: 100px;
  }
  .arrow__request {
    margin-top: 200px;
    margin-left: 200px;
  }
  .request__input {
    width: 370px;
    margin-top: 55%;
    margin-left: 16px;
  }
  .request__button {
    margin-top: 30px;
    margin-left: 100px;
  }
  .requestEllipse {
    margin-top: -120px;
    margin-left: 77%;
  }
}
