.secondrectangle {
  margin-left: 0;
}
.illustration2 {
  position: absolute;
  margin-top: 130px;
  margin-left: -350px;
}
@media (max-width: 425px) {
  img.secondrectangle {
    width: 410px;
    height: 410px;
  }
  img.illustration2 {
    width: 250px;
    height: 250px;
  }
  .illustration2 {
    margin-top: -90px;
    margin-left: 35px;
  }
}
